* {
    margin: 0;
    padding: 0;
}

#main {
    font-family: Arial;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

#section {
    font-family: Arial;
    text-align: center;
    font-size: 15px;
    padding: 25px;
}

#section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

